.all-products-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 70%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.no-products-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.no-products-img {
  width: 260px;
  height: 240px;
}
.no-products-heading {
  color: #12022f;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}
.no-products-description {
  color: #64748b;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
}
.products-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.products-failure-img {
  width: 260px;
  height: 240px;
}
.products-failure-heading {
  color: #12022f;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}
.products-failure-description {
  color: #64748b;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
}
